# List

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

In [ ]:
print(thislist[1])

In [ ]:
print(thislist[-1])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

The search will start at index 2 (included) and end at index 5 (not included).
Remember that the first item has index 0.

In [ ]:
#By leaving out the end value, the range will go on to the end of the list:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

In [ ]:
#This example returns the items from "cherry" and to the end:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

# Range of Negative Indexes
Specify negative indexes if you want to start the search from the end of the list:

# Example
This above example returns the items from index -4 (included) to index -1 (excluded)

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

# Change Item Value
To change the value of a specific item, refer to the index number:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
thislist[1] = "blackcurrant"
print(thislist)

# duplicate members

To change the value of a specific item, refer to the index number:

In [10]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
thislist[0] = "banana"
print(thislist)

['apple', 'banana', 'cherry']
['banana', 'banana', 'cherry']

In [8]:
print(*range(5), sep=", ")

0, 1, 2, 3, 4

In [ ]:
for x in range(5):
    print(x, end=",")

# convert string into list 
## very useful

In [5]:
pets = "cat,dog,bird,guinea pig,rabbit,hampster"

# write here
pet_list = pets.split(',')
print (pet_list, type(pet_list))  # I use tab to complete the variable name

['cat', 'dog', 'bird', 'guinea pig', 'rabbit', 'hampster'] <class 'list'>

# Accessing the list as need  list[start:end:increment] OR start:stop[:step]

In [15]:
l1 = [10,20,30,40,50,60,70]
print(thislist)
l1[1::2]

['banana', 'banana', 'cherry']

[20, 40, 60]

# List making using range () method / function

In [18]:
list(range(0,20))    #all values default increment of one

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [17]:
list(range(0,20,2))   # all even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [30]:
# all values default increment of n+1
n=1
print(list(range(0,20,n+1)))
list(range(1,20,n+1))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# NESTING THE LIST

In [42]:
nest=[1,2,3, [2,3,4,['HELLO']]]

In [47]:
# WRITE THE CODE TO ACCESS THE VALUE 'HELLO'
nest[3]

[2, 3, 4, ['HELLO']]

In [48]:
nest[3][2]

4

In [49]:
nest[3][3]

['HELLO']

In [50]:
nest[3][3][0]

'HELLO'

In [51]:
print(nest[3][3][0])

HELLO

 #  Generate the list of natural numbers smaller or equal to 30 that are divisible        by either 2 or 3

In [53]:
L = [n for n in range(1,31) if n%2 == 0 or n%3 == 0]
L

[2, 3, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 26, 27, 28, 30]

# ##List comprehension as a filter
   ### filtered = [element for element in original if condition(element)]

# Exercise 
## Given a list of DNA sequences represented as strings, returns only
## those sequences that contain at least one adenosine ("A")

In [54]:
sequences = ["ACTGG", "CCTGT", "ATTTA", "TATAGC"]

In [59]:
#solution
L = [i for i in sequences if "A" in i]
L

['ACTGG', 'ATTTA', 'TATAGC']

# Given a list of telephone numbers represented as strings, returns only those      that are from Verona (prefix "045")

In [60]:
numbers = ["04599904523", "0461304534", "0288662244", "0458346157"]

In [74]:
L = [r for r in numbers if r.startswith("045")]
L

['04599904523', '0458346157']

#  The name of the variable does not make any difference. You are free to pick any name you like, but choose something meaningful.

In [62]:
n = 4
L = [[0]*n for i in range(n)] #repeat plus append/replace/add
L[1][1] = 5
print(L)

[[0, 0, 0, 0], [0, 5, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

# Question
Given a list of values, generate the sublist of values that only appear
once in the list. For example, L = [1,3,2,3,5,4,5,3,3] should
generate [1, 2, 4]

In [70]:
L = [1,3,2,3,5,4,5,3,3]
SL =  [n for n in L if L.count(n)==1]
print(SL)

[1, 2, 4]